<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <intuit>
    <ipp>
      <security mode="OAuth">
        <oauth1 consumerKey="L0vlXq781VLVbZiKEh2lgh5pA0yZt04Vq9lP4c6y5hLkf6LwNZ"
               consumerSecret="cQPD3eEb743sOmTFKA434DHEW9cSkR4sCPfIpS5B"
               accessTokenKey="eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..mV4xovyZK6mRexR9DCq2wQ.RdDJ0Lip4YzZia91gZMfvuHPAmLgsLUbb2R37nuO_qJkAJmove5d2WL1Tu3lRLf6sGEMkpAHDxhph2ZGSx-7JgI1NLkR6xggcH5qr5EXiWI0YaOgZqOooMBuUvX3WM_j5BKPW2iFj7ZvVk4ymLIyagV1XTD3gqg2vBqZwGcKZqSpxVtJOBt0HuWOgCFCes8HVl8aiZlY3hXR0VQTnFcU5mw-RSfiyO5eW3YwrWgC4-_0Fj8oKavx4QQrxHArVD9yQwxVOzw46R5mUmWnHek-MEpvhCHCp2mLxYna6roCMIgEI0ALTJzI9nly24BUXSENNE98HWtV4E8xfnXHnPiTUkeIpTYJj9Mbwt4xFgNrN19vOFwA66j-urbQxX_crj-VhYvv0pW99qxIrkib3Mk03yIf5ioyuWC_mivXdLDP8A25c1JuBZGXqleBjxcmy5CShLAyT72TZ0YNzn1pDedaxJkEJ2FKeNzOW-bNCd2mxFTom_QcgEGmgXZ4-pcmuLh3kzrJ5qW3u8yb2qIJt41fV-fCUNbhDVlBGcssR_PTQ2O6wiYZtdiJIcm_ENmIhVXMwd9Cg3heKuFQG5VgdScLMWM8DJ1scd70OjQSobc-ZTlBvAgqRaL1g3-ovr8i25r-yVRf4MSauV7IkdKMvSexTYI4OgS_cxKQsW-cnlTsE185mRnGfksQAloDaQVnl9f0.avItU0TwmZhsoHQkpLeVZw"
               accessTokenSecret="Q011521985818jvSS7efQ4JJpMk0307t1kmDV0peN9hrkhwIzH"
               QBORealmID="123145946400044"/>
       
       <oauth2 ClientID="L0vlXq781VLVbZiKEh2lgh5pA0yZt04Vq9lP4c6y5hLkf6LwNZ"
              ClientSecret="cQPD3eEb743sOmTFKA434DHEW9cSkR4sCPfIpS5B"
              accessTokenKey="eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..mV4xovyZK6mRexR9DCq2wQ.RdDJ0Lip4YzZia91gZMfvuHPAmLgsLUbb2R37nuO_qJkAJmove5d2WL1Tu3lRLf6sGEMkpAHDxhph2ZGSx-7JgI1NLkR6xggcH5qr5EXiWI0YaOgZqOooMBuUvX3WM_j5BKPW2iFj7ZvVk4ymLIyagV1XTD3gqg2vBqZwGcKZqSpxVtJOBt0HuWOgCFCes8HVl8aiZlY3hXR0VQTnFcU5mw-RSfiyO5eW3YwrWgC4-_0Fj8oKavx4QQrxHArVD9yQwxVOzw46R5mUmWnHek-MEpvhCHCp2mLxYna6roCMIgEI0ALTJzI9nly24BUXSENNE98HWtV4E8xfnXHnPiTUkeIpTYJj9Mbwt4xFgNrN19vOFwA66j-urbQxX_crj-VhYvv0pW99qxIrkib3Mk03yIf5ioyuWC_mivXdLDP8A25c1JuBZGXqleBjxcmy5CShLAyT72TZ0YNzn1pDedaxJkEJ2FKeNzOW-bNCd2mxFTom_QcgEGmgXZ4-pcmuLh3kzrJ5qW3u8yb2qIJt41fV-fCUNbhDVlBGcssR_PTQ2O6wiYZtdiJIcm_ENmIhVXMwd9Cg3heKuFQG5VgdScLMWM8DJ1scd70OjQSobc-ZTlBvAgqRaL1g3-ovr8i25r-yVRf4MSauV7IkdKMvSexTYI4OgS_cxKQsW-cnlTsE185mRnGfksQAloDaQVnl9f0.avItU0TwmZhsoHQkpLeVZw"
              refreshTokenKey="Q011521985818jvSS7efQ4JJpMk0307t1kmDV0peN9hrkhwIzH"
              QBORealmID="123145946400044"/>
       
      </security>
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <!-- <baseUrl qbo="https://qbonline-e2e.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" /> -->
        <baseUrl qbo="https://sandbox-quickbooks.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/tmp/IdsLogs" />
      </logger>
      <!--
        Available strategies are file, handler and export.
        file - saves response into temporary file in system temp folder.
               The file should be removed manually

        handler - saves response into temporary file and provides file handler.
                  The file is automatically removed after script termination or when developer closes the handler

        export - saves response into export folder. Additional parameter "exportDirectory" should be specified
           <contentWriter strategy="export" exportDirectory="/path/to/target/folder">

        For advance usage you can specify returnObject="true" to work with instance of contentWriter
      -->
      <contentWriter strategy="file" prefix="ipp"/>
      <specialConfiguration>
          <TaxService jsonOnly="true"/>
      </specialConfiguration>
      <minorVersion>8</minorVersion>
    </ipp>
  </intuit>
</configuration>
